# Environments
.env
.venv
env/
venv/
ENV/

# Pycache & OS files
__pycache__/
*.py[cod]
.DS_Store

# Waymo Data Files (CRITICAL)
data/
*.tfrecord
*.parquet
*.mcap
*.db3
*.bag

# Model Checkpoints & Weights
models/
*.pth
*.pt
*.onnx
*.weights

# Logs & Training Outputs
*.log
outputs/
runs/

# Image Files & Visualizations
*.jpg
*.jpeg
*.png

# Jupyter Notebook Checkpoints
.ipynb_checkpoints

# VS Code Settings
.vscode/