# Environments
.env
.venv
env/
venv/
ENV/

# Python, Bytecode & OS files
__pycache__/
*.py[cod]
.DS_Store
*.deb

# Dataset Files
data/
*.tfrecord
*.parquet
*.mcap
*.db3
*.bag

# Model Checkpoints, Weights & Engines
*.pth
*.pt
*.onnx
*.weights
*.engine

# Logs & Training Outputs
*.log
outputs/
runs/

# Images & Visualizations
*.jpg
*.jpeg
*.png

# Notebooks & IDE Configurations
.ipynb_checkpoints
.vscode/

# Build Artifacts (ROS 2, CMake & Benchmarking)
build/
install/
log/